<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Config</directory>
                <directory suffix=".php">./src/Core</directory>
                <file>./src/ScholarChipController.php</file>
                <file>./src/ScholarChipServiceProvider.php</file>
                <file>./src/routes.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </logging>
</phpunit>